@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  opacity: 0.2;
  border-radius: 4px;
  border: 2px solid var(--background);
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.4;
  background: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--foreground);
    opacity: 0.3;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
  }
}